@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,200&display=swap');


.banner {

    .banner-text {
        h3 {
            font-family: 'Montserrat', sans-serif;
        }
    }
}
#home {
    h3 {
        color: rgb(238, 235, 216);
        span {
            color: rgb(10, 247, 10);
        }

        .smoothscroll {
            color: rgb(245, 238, 198);
            text-decoration: underline;
        }
    }

    hr {
        border-top: 1px solid rgb(12, 12, 12);
    }
}

#resume {
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
    }

    .info {
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-weight: bold;
    }

}